.hidden {
    display: none;
}

h1 {
    text-align: center;
}

h1.fontface {
    font: 60px/68px 'ColaborateThinRegular', Arial, sans-serif;
    letter-spacing: 0;
}

p {
    padding-right: 30px;
    padding-left: 30px;
}

#main-nav {
    height: 50px;
}

#main-nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#header {
    height: 70px;
    background: #444444;
    color: white;
}

#loginbar {
    float: right;
    width: 400px;
    text-align: right;
}

#sidebar {
    clear: both;
    float: left;
    width: 280px;
}

#content {
    margin-left: 300px;
    margin-top: 20px;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color : #000000;
    text-decoration: none
}

a:visited {
    color : #CCCCCC;
    text-decoration: none
}

a:hover {
    color : #999999;
    text-decoration : none;
}

a:active {
    color : #BBBBBB;
    text-decoration: none
}

input {
  background-color: #888888;
  border: 2px solid #BBBBBB;
  color: #fff;
  font-weight: bold;
  padding: 0;
  height: 25px;
  width: 100px;
}

#footer {
    padding-top: 20px;
    text-align: center;
    clear: both;
    height: 50px;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 10px;
    color: #c9c9c9;
    line-height: 1;
}

#footer a {
    color: #c9c9c9;
    text-decoration: none;
}

#footer a:hover {
    color: #db6d16;
}