.hidden {
    display: none;
}

h1 {
    text-align: center;
}

h1.fontface {
    font: 60px/68px 'ColaborateThinRegular', Arial, sans-serif;
    letter-spacing: 0;
}

p {
    padding-right: 30px;
    padding-left: 30px;
    /* border-radius: 20px 20px 20px 20px; */
    /* box-shadow: 5px 5px 10px 2px #333333;  */
}

#main-nav {
    background: red;
    height: 50px;
}

#main-nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#header {
    height: 100px;
    background: #db6d16
}

#loginbar {
    float: right;
    width: 280px;
}

#sidebar {
    clear: both;
    float: left;
    width: 280px;
    background: darkgreen;
}

#content {
    margin-left: 280px;
    background: yellow;
}

.style1 {
    font: 18px/27px 'ColaborateThinRegular', Arial, sans-serif;
    background-color: #DDDDDD;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
}

.style2 {
    font: 18px/27px 'ColaborateLightRegular', Arial, sans-serif;
    background-color: #AAAAAA;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.style3 {
    font: 18px/27px 'ColaborateRegular', Arial, sans-serif;
    background-color: #555555;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.style4 {
    font: 18px/27px 'ColaborateThinRegular', Arial, sans-serif;
    background-color: #DDDDDD;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.style5 {
    font: 18px/27px 'ColaborateLightRegular', Arial, sans-serif;
    background-color: #AAAAAA;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color : #000000;
    text-decoration: none
}

a:visited {
    color : #CCCCCC;
    text-decoration: none
}

a:hover {
    color : #999999;
    text-decoration : none;
}

a:active {
    color : #BBBBBB;
    text-decoration: none
}

input[name="pass"] {
    background-color: #B3CDB0;
}

input[name="user"] {
    background-color: #B3CDB0;
}

input.myButton {
  background-color: #888888; /* colore di sfondo    */
  border: 2px solid #BBBBBB; /* bordo dell'elemento */
  color: #fff;               /* colore del testo    */
  font-weight: bold;         /* testo in grassetto  */
  padding: 0;                /* padding             */
  height: 25px;              /* altezza             */
  width: 80px;               /* larghezza           */
}

#footer {
    padding-top: 20px;
    text-align: center;
    clear: both;
    height: 66px;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 10px;
    color: #c9c9c9;
}

#footer a {
    color: #c9c9c9;
    text-decoration: none;
}

#footer a:hover {
    color: #db6d16;
}